<script>
$(document).ready(function(){
	$('iframe').each(function(i, el){
		$(el).attr('src', $(el).data("src"));
	});
	$(function() {
			var offset = $(".sidebar").offset();
			var topPadding = 20;
			$(window).scroll(function() {
					if ($(window).scrollTop() > offset.top) {
							$(".sidebar").stop().animate({
									marginTop: $(window).scrollTop() - offset.top + topPadding
							});
					} else {
							$(".sidebar").stop().animate({
									marginTop: 0
							});
					};
			});
	});
});
</script>
<div class="title-treatment">
<div class="container-fluid inner inner-hero" id="title-image">
	<img src="assets/images/<%= body["master-class"]["class"] %>-hero.jpg" alt="">
	<div id="title-box" class="center-wrapper">
			<img src="assets/images/homepage-icons/<%= body["master-class"]["class"] %>.png">
			<div class="title-line">
				<h1><%=body["header"]["title-line-one"]%><span style="display: none"><%=body["header"]["title-line-two"]%></span></h1>
				<span class="title-line-two"><%=body["header"]["title-line-two"] %></span>
			</div>
	</div><!--- Close Title Box --->
</div>
	<div id="deck" class="inner-deck fadeIn">
		<div class="parallax">
		  <div class="parallax-layer one">
		    <p>Beyond lessened airfare prices, old cars, rum and cigars, beyond the ways travel will impact the Cuban economy, this growing tourism industry is changing the lives of the Cubans that run it, the ones that live just across the harbor.</p>
			</div>
		</div>
	</div>
</div>
<div class="row  left-box byline-row offset-md-2">
	<div class="byline-box inner center-wrapper col-md-2">
	  <div id="byline" class="byline-item">
			<p class="byline-head"><%= espanol ? "escrito por" : "written by" %></p>
	    <% for (r in body["reporters"]) {%>
	    <p><%= body["reporters"][r]["name"] %></p>
	     <% } %>
	  </div>
	  <div class="byline-item">
	    <p class="byline-head"><%= espanol ? "fotos y video por" : "photos and video by" %></p>
	    <% for (v in body["videographers"]) {%>
	    <p><%= body["videographers"][v]["name"] %></p>
	    <% } %>
	  </div>
	  <div class="byline-item">
	    <p class="byline-head"><%= espanol ? "gráficos por" : "graphics by" %></p>
	    <% for (d in body["designers"]) {%>
	    <p><%= body["designers"][d]["name"] %></p>
	    <% } %>
	  </div>
		<div class="byline-item">
	    <p class="byline-head"><%= espanol ? "consultación por" : "ground support by" %></p>
	    <% for (d in body["upr"]) {%>
	    <p><%= body["upr"][d]["name"] %></p>
	    <% } %>
	  </div>
	</div>
	<section class="center-wrapper col-md-7">
		<div class="max-width">
			<% for (i in body["text"]) {
			if (body["text"][i]["type"] == "text") {%>
			<p> <%-body["text"][i]["value"] %> </p>
			<%} else if (body["text"][i]["type"] == "subhead") {%>
			<h4><%=body["text"][i]["value"]["text"] %></h4>
			<%} else if (body["text"][i]["type"] == "video") {%>
			<div id="video-top"></div>
		</div>
	</section>
</div>
<% include ../partials/video.ejs %>
<div class="sidebar sidebar-icons">
		<ul>
			<li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//puertorico584-pchance2.cloudapps.unc.edu/" target="_blank"><img class="social-icon" src="../../assets/images/social-media/facebook2.png"></a></li>
			<li><a class="twitter" href="https://twitter.com/home?status=Wow,%20this%20is%20the%20most%20incredible%20thing%20I've%20ever%20seen%20%23amazed%20%23journalism%20http%3A//puertorico584-pchance2.cloudapps.unc.edu/" target="_blank"><img class="social-icon"src="../../assets/images/social-media/twitter2.png"></a></li>
			<li><a class="vimeo" href="https://www.vimeo.com/" target="_blank"><img class="social-icon" src="../../assets/images/social-media/vimeo2.png"></a></li>
	</ul>
</div>
<div class="row  offset-md-2">
	<div class="left-box col-2"></div>
	<section class="center-wrapper col-md-7">
		<div class="max-width">
			<%} else if (body["text"][i]["type"] == "slider"){%>
		</div>
	</section>
</div>
<div class="row">
	<div id="photo-gal" class="center-wrapper">
		<% include ../partials/photo-gallery.ejs %>
	</div>
</div>
	<div class="row  offset-md-2">
		<div class="left-box col-2">
	</div>
	<div class="center-wrapper col-7">
		<%} else if (body["text"][i]["type"] == "interactive") {%>
	</div>
	<!-- This is the lil bit of code that is killing my spirit. -->
<% var filepath = body["text"][i]["value"]["filename"] %>

<section class="center-wrapper">
	<div class="max-width">
	  <% } else if (body["text"][i]["type"] == "pullquote") {%>
	</div>
</section>
</div>
<div class="row  offset-1">
    <div class="left-box pull-quote-left-box col-3">
        <div class="pull-quote-box change-bg <%= body["master-class"]["class"] %>">
						<img src="assets/images/pull-quote-lead.png" alt="">
              <p class="pull-quote"><%=body["text"][i]["value"]["text"] %></p>
              <p class="attribution"><%=body["text"][i]["value"]["attribution"]%></p>
        </div>
    </div>
    <section class="center-wrapper pull-text col-7">
        <div class="max-width">
          <% } else if (body["text"][i]["type"] == "image") { %>
        </div>
    </section>
</div>
<figure>
	<img class="inner-image" src='assets/images/<%=body["text"][i]["value"]["src"] %> ' alt='
	<%=body["text"][i]["value"]["alt"] %>'>
	<figcaption>
	  <p class="fig-descr"><%=body["text"][i]["value"]["caption"] %></p>
	  <p class="fig-attr"><%= espanol ? "foto por":"Photo by" %></p>
	  <p class="fig-attr"><%=body["text"][i]["value"]["attribution"] %></p>
	</figcaption>
</figure>
<div class="row  offset-md-2">
	<div class="left-box col-2">Dummy Column</div>
		<section class="center-wrapper col-md-7">
			<div class="max-width">
				<% } else if (body["text"][i]["type"] == "map") { %>
			</div>
		</section>
	</div>
</div>
<div class="row  offset-md-2">
	<div class="left-box col-2">Dummy Column</div>
		<div class="center-wrapper col-md-6 offset-md-4">
			<img class="map" src='assets/images/<%=body["text"][i]["value"]["src"] %> ' alt='
			<%=body["text"][i]["value"]["alt"] %>'>
		</div>
	</div>
</div>
<section class="center-wrapper col-md-6">
	<div class="max-width">
		<%} } %>
	</div>
</section>
