<script>
$(document).ready(function(){
	$('iframe').each(function(i, el){
		$(el).attr('src', $(el).data("src"));
	});
});
</script>

<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" /> -->


<div class="container inner">
  <!-- <section id="top-fold"> -->
      <div>
		    <div id="title-box" class="center-wrapper">
		      <div class="change-bg" id="inner-title-box">
		        <h1><%=body["header"]["title-line-one"]%><span style="display: none"><%=body["header"]["title-line-two"]%></span></h1>
						<span class="title-line-two"><%=body["header"]["title-line-two"] %></span>
		        <h3><%=body["header"]["subtitle"] %></h3>
		      </div>
		    </div>
    </div>

		<div class="row text-row justify-content-center">
			<div class="byline-box center-wrapper col-md-2">
	      <div class="byline-item">
					<p class="byline-head"><%= espanol ? "escrito por" : "written by" %></p>
	        <% for (r in body["reporters"]) {%>
	        <p><%= body["reporters"][r]["name"] %></p>
	        <% } %>
	      </div>
	      <div class="byline-item">
	      <p class="byline-head"><%= espanol ? "fotos y video por" : "photos and video by" %></p>
	        <% for (v in body["videographers"]) {%>
	        <p><%= body["videographers"][v]["name"] %></p>
	        <% } %>
	      </div>
	      <div class="byline-item">
	      <p class="byline-head"><%= espanol ? "gráficos por" : "graphics by" %></p>
	        <% for (d in body["designers"]) {%>
	        <p><%= body["designers"][d]["name"] %></p>
	        <% } %>
	      </div>
	    </div>

  		<!-- </section> -->

		  <section class="center-wrapper col-md-8">
		    <div class="max-width">
		    <% for (i in body["text"]) {
		      if (body["text"][i]["type"] == "text") {%>
		    <p> <%-body["text"][i]["value"] %> </p>
		    <%} else if (body["text"][i]["type"] == "subhead") {%>
		      <h4><%=body["text"][i]["value"]["text"] %></h4>
		    <%} else if (body["text"][i]["type"] == "video") {%>
		      <div id="video-top"></div>
		    </div>
			</section>

		</div>

</div>
	<% include ../partials/video.ejs %>

<div class="container inner">
      <section class="center-wrapper">
        <div class="max-width">
					<%} else if (body["text"][i]["type"] == "slider"){%>
				</div>
				</section>
				<script>
				var captionArray = [];
				</script>
						<div id="photo-gallery">

						  <div id="custom-slider">

						    <ul id="slider-ul">
									<% for (s in body["slider-images"]){%>
							      <li class="slider-section">
							        <div class="pic-style">
							          <img src="../assets/images/photo-gallery/<%=body["master-class"]["class"]%>/<%=body["slider-images"][s]["src"]%>" class="pic"/>
							        </div>
											<script>
											if (!espanol){
												captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
													"<p class='fig-descr'><%=body['slider-images'][s]['caption']%></p>" +
													"<p class='fig-attr'>Photo by&nbsp</p>" +
													"<p class='fig-attr'><%=body['slider-images'][s]['attribution']%></p>" +
												"</figcaption>");
											} else {
												captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
													"<p class='fig-descr'><%=body['slider-images'][s]['caption']%></p>" +
													"<p class='fig-attr'>foto por&nbsp</p>" +
													"<p class='fig-attr'><%=body['slider-images'][s]['attribution']%></p>" +
												"</figcaption>");
											}

											</script>
							      </li>
								<% } %>
							</ul>
						  </div>

							<div class="caption">
								 <div class="arrow-wrapper">
									<button class="slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
									<button class="slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
								</div>
								<div id="inner-caption">
								</div>
						</div>

			<div class="row text-row">
	      <section class="center-wrapper col-md-8 offset-md-3">
	        <div class="max-width">
						<%} else if (body["text"][i]["type"] == "slider"){%>
					</div>
					</section>
					<script>
					var captionArray = [];
					</script>
							<div id="photo-gallery">

							  <div id="custom-slider">

							    <ul id="slider-ul">
										<% for (s in body["slider-images"]){%>
								      <li class="slider-section">
								        <div class="pic-style">
								          <img src="../assets/images/photo-gallery/<%=body["master-class"]["class"]%>/<%=body["slider-images"][s]["src"]%>" class="pic"/>
								        </div>
												<script>
												if (!espanol){
													captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
														"<p class='fig-descr'><%=body['slider-images'][s]['caption']%></p>" +
														"<p class='fig-attr'>Photo by&nbsp</p>" +
														"<p class='fig-attr'><%=body['slider-images'][s]['attribution']%></p>" +
													"</figcaption>");
												} else {
													captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
														"<p class='fig-descr'><%=body['slider-images'][s]['caption']%></p>" +
														"<p class='fig-attr'>foto por&nbsp</p>" +
														"<p class='fig-attr'><%=body['slider-images'][s]['attribution']%></p>" +
													"</figcaption>");
												}

												</script>
								      </li>
									<% } %>
								</ul>
							  </div>

								<div class="caption">
									 <div class="arrow-wrapper">
										<button class="slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
										<button class="slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
									</div>
									<div id="inner-caption">
									</div>

							</div>
								</div>
								<script src="/js/photo-slider.js"></script>
					<section class="center-wrapper">
						<div class="max-width">
	      <%} else if (body["text"][i]["type"] == "interactive") {%>
	      </div>
	    </section>
		</div>
<!-- This is the lil bit of code that is killing my spirit. -->
    <% var filepath = body["text"][i]["value"]["filename"] %>

           <section class="center-wrapper">
             <div class="max-width">

    <% } else if (body["text"][i]["type"] == "pullquote") {%>

    </div>
  </section>
    <div class="pull-quote-box change-bg col-md-8 offset-md-3 <%= body["master-class"]["class"] %>">
      <h3 class="pull-quote">
        <hr> <span><%=body["text"][i]["value"]["text"] %></span>
				<div class="attribution">
					<%=body["text"][i]["value"]["attribution"]%>
				</div>
			 </h3>
    </div>
    <section class="center-wrapper col-md-8 offset-md-3">
      <div class="max-width">
    <% } else if (body["text"][i]["type"] == "image") { %>
    </div>
  </section>
    <figure>
      <img class="inner-image" src='assets/images/<%=body["text"][i]["value"]["src"] %> ' alt='
      <%=body["text"][i]["value"]["alt"] %>'>
      <figcaption>
      <p class="fig-descr"><%=body["text"][i]["value"]["caption"] %></p>
      <p class="fig-attr"><%= espanol ? "foto por":"Photo by" %></p>
      <p class="fig-attr"><%=body["text"][i]["value"]["attribution"] %></p>
    </figcaption>
    </figure>
      <section class="center-wrapper">
        <div class="max-width">

		<% } else if (body["text"][i]["type"] == "map") { %>
		</div>
	</section>
			<div class="center-wrapper col-md-8">
				<img class="map" src='assets/images/<%=body["text"][i]["value"]["src"] %> ' alt='
				<%=body["text"][i]["value"]["alt"] %>'>
			</div>

			<section class="center-wrapper col-md-8">
				<div class="max-width">
		<%} } %>

  </div>
  </section>
