<div class="container-fluid">
	<div class="<%= body["master-class"]["class"] %>">
		<div class="title-line">
			<div class="row offset-sm-1 inner-title">
				<div class="col-sm-3 icon">
					<img class="img-fluid" src="assets/images/homepage-icons/<%= body["master-class"]["class"] %>.png">
				</div>
				<div class="col-sm-9">
					<h1><%=body["header"]["title-line-one"]%><span style="display: none"><%=body["header"]["title-line-two"]%></span></h1>
					<p class="title-line-two"><%=body["header"]["title-line-two"] %></p>
				</div>
			</div>
		</div>
		<div class="deck">
			 <p><%=body["header"]["subtitle"]%></p>
		</div>
	</div>
</div>
<!-- END OF TITLE IMAGE AND DECK SECTION -->

<div class="story-section">
	<!-- START OF STORY WITH BYLINES -->
	<div id="byline" class="row byline-row">
		<div class="byline-box inner col-md-2 offset-md-2">
		  <div  class="byline-item">
				<p class="byline-head"><%= espanol ? "escrito por" : "written by" %></p>
		    <% for (r in body["reporters"]) {%>
		    <p><%= body["reporters"][r]["name"] %></p>
		     <% } %>
		  </div>
		  <div class="byline-item">
		    <p class="byline-head"><%= espanol ? "fotos y video por" : "photos and video by" %></p>
		    <% for (v in body["videographers"]) {%>
		    <p><%= body["videographers"][v]["name"] %></p>
		    <% } %>
		  </div>
		  <div class="byline-item">
		    <p class="byline-head"><%= espanol ? "gráficos por" : "graphics by" %></p>
		    <% for (d in body["designers"]) {%>
		    <p><%= body["designers"][d]["name"] %></p>
		    <% } %>
		  </div>
			<div class="byline-item">
		    <p class="byline-head"><%= espanol ? "UPR Contribuidores" : "UPR Contributors" %></p>
		    <% for (d in body["upr"]) {%>
		    <p><%= body["upr"][d]["name"] %></p>
		    <% } %>
		  </div>
		</div>


		<section class="col-md-6">
			<div class="max-width">
				<% for (i in body["text"]) {
				if (body["text"][i]["type"] == "text") {%>
				<p> <%-body["text"][i]["value"] %> </p>
				<%} else if (body["text"][i]["type"] == "subhead") {%>
				<h4><%=body["text"][i]["value"]["text"] %></h4>
				<%} else if (body["text"][i]["type"] == "video") {%>
				<div id="video-top"></div>
			</div>
		</section>
	</div>

<% include ../partials/video.ejs %>

<div class="row">
	<div class="left-box col-4"></div>
	<section class="col-md-6">
			<%} else if (body["text"][i]["type"] == "slider"){%>
	</section>
</div>
<div class="row">
	<div id="photo-gal">
		<% var photo_id = body["master-class"]["class"] %>
		<%- include("../partials/photo-gallery-" + photo_id + ".ejs"); %>
		<% include ../partials/photo-slider.ejs %>
	</div>



<div class="row">
	<div class="left-box col-4"></div>
	<section class="col-md-6">

				<%} else if (body["text"][i]["type"] == "interactive") {%>
		</div>
	    </section>
	    <% var filepath = body["text"][i]["value"]["filename"] %>
	      <%- include("../partials/" + filepath); %>

							 <div class="row">
							 	<div class="left-box col-4"></div>
								<section class="col-md-6">

			<!-- This is the lil bit of code that is killing my spirit. -->
			<% var filepath = body["text"][i]["value"]["filename"] %>

			<% } else if (body["text"][i]["type"] == "pullquote") {%>

</div>
<div class="row">
    <div class="left-box col-md-3 offset-md-1">
      <div class="pull-quote-box text-center">
					<img src="assets/images/pull-quote-lead.png" alt="quote">
            <p class="pull-quote"><%=body["text"][i]["value"]["text"] %></p>
            <p class="attribution"><%=body["text"][i]["value"]["attribution"]%></p>
      </div>
    </div>
    <section class="col-md-6">
      <% } else if (body["text"][i]["type"] == "image") { %>
    </section>
</div>



		<%} } %>
