</div>


<div class="container">
  <div id="photo-gallery" class="col-md-10 offset-md-2 itemscope itemtype="http://schema.org/ImageGallery" data-masonry='{"itemSelector": ".grid-item", "columnWidth": 200}'">

    <div id="custom-slider" class="my-gallery row photo-row">

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_01.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water_sl_01.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. </figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_02.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water_sl_02.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_03.jpg" itemprop="contentUrl" data-size="600x900">
              <img src="../assets/images/photo-gallery/water_sl_03.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_04.jpg" itemprop="contentUrl" data-size="600x900">
              <img src="../assets/images/photo-gallery/water_sl_04.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_05.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water_sl_05.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_06.jpg" itemprop="contentUrl" data-size="600x900">
              <img src="../assets/images/photo-gallery/water_sl_06.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_07.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water_sl_07.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. </figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_08.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water_sl_08.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_09.jpg" itemprop="contentUrl" data-size="600x900">
              <img src="../assets/images/photo-gallery/water_sl_09.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_10.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water_sl_10.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_11.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water_sl_11.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

          <figure class="pic-style" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water_sl_12.jpg" itemprop="contentUrl" data-size="600x900">
              <img src="../assets/images/photo-gallery/water_sl_12.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure>

    </div>

    <!-- <div class="caption">
      <button id="slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
      <button id="slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
      <div id="caption-text">
        <figcaption class="pg-figcaption">
        <p class="fig-descr">Juan and Gabriella take turns skating down a ramp on a sunny Havana day.</p>
        <p class="fig-attr">Photo by</p>
        <p class="fig-attr">Claire Collins</p>
      </figcaption>
      </div>
    </div> -->

    <script>
      var captionArray = [];
      if (!espanol){
  			captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
  			"<p class='fig-descr'><%=body['slider-images']['caption']%></p>" +
  			"<p class='fig-attr'>Photo by&nbsp</p>" +
  			"<p class='fig-attr'><%=body['slider-images']['attribution']%></p>" +
  			"</figcaption>");
  		} else {
  			captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
  			"<p class='fig-descr'><%=body['slider-images']['caption']%></p>" +
  			"<p class='fig-attr'>foto por&nbsp</p>" +
  			"<p class='fig-attr'><%=body['slider-images']['attribution']%></p>" +
  		    "</figcaption>");
  		}
    </script>

  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
