<script>
				var captionArray = [];
				</script>
						<div id="photo-slider">

						  <div id="custom-slider">

						    <ul id="slider-ul">
									<% for (s in body["slider-images"]){%>
							      <li class="slider-section">
							        <div class="pic-style">
							          <img src="../assets/images/photo-gallery/<%=body["master-class"]["class"]%>/<%=body["slider-images"][s]["src"]%>" class="pic"/>
							        </div>
											<script>
											// if (!espanol){
												captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
													"<p class='fig-descr'><%=body['slider-images'][s]['caption']%></p>" +
													"<p class='fig-attr'>Photo by&nbsp</p>" +
													"<p class='fig-attr'><%=body['slider-images'][s]['attribution']%></p>" +
												"</figcaption>");
											// } else {
											// 	captionArray.push("<figcaption class='pg-figcaption " + "<%=body["master-class"]["class"]%>" +"'>" +
											// 		"<p class='fig-descr'><%=body['slider-images'][s]['caption']%></p>" +
											// 		"<p class='fig-attr'>foto por&nbsp</p>" +
											// 		"<p class='fig-attr'><%=body['slider-images'][s]['attribution']%></p>" +
											// 	"</figcaption>");
											// }

											</script>
							      </li>
								<% } %>
							</ul>
						  </div>

							<div class="caption">
								 <div class="arrow-wrapper">
									<button class="slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
									<button class="slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
								</div>
								<div id="inner-caption">
								</div>
						</div>
							</div>
							<script src="/js/photo-slider.js"></script>
