</div>
</div>

<div class="step">
  <div class="row">
    <a href="/pages/<%= body["step-links"]["step-back-name"]%>" class="col-md-6"><div class="step-box step-back">
      <p class="step-name"><%= body["step-links"]["step-back-name"]%></p>
      <p class="step-title"><%= body["step-links"]["step-back-title"]%></p>
      <img src="/assets/images/homepage-icons/<%= body["step-links"]["step-back-name"]%>.png">
    </div></a>
    <a href="/pages/<%= body["step-links"]["step-forward-name"]%>" class="col-md-6"><div class="step-box step-forward">
      <p class="step-name"><%= body["step-links"]["step-forward-name"]%></p>
      <p class="step-title"><%= body["step-links"]["step-forward-title"]%></p>
      <img src="/assets/images/homepage-icons/<%= body["step-links"]["step-forward-name"]%>.png">
    </div></a>
  </div>
</div>
<div class="container">
