</div>
</div>

<div id="stepLinks" class="row">
  <div class="col-6">
    <a href="/pages/<%= body["step-links"]["step-back-name"]%>" class="steplinksvideo">
      <video class="thevideo" muted loop preload="auto">
      <source src="../assets/images/<%= body["step-links"]["step-back-name"]%>.mp4" type="video/mp4">
      </video>
      <div class="step-content">
        <img src="/assets/images/homepage-icons/<%= body["step-links"]["step-back-name"]%>.png">
        <p class="step-name"><%= body["step-links"]["step-back-name"]%></p>
        <p class="step-title"><%= body["step-links"]["step-back-title"]%></p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a href="/pages/<%= body["step-links"]["step-forward-name"]%>" class="steplinksvideo">
      <video class="thevideo" muted loop preload="auto">
      <source src="../assets/images/<%= body["step-links"]["step-forward-name"]%>.mp4" type="video/mp4">
      </video>
      <div class="step-content">
        <img src="/assets/images/homepage-icons/<%= body["step-links"]["step-forward-name"]%>.png">
        <p class="step-name"><%= body["step-links"]["step-forward-name"]%></p>
        <p class="step-title"><%= body["step-links"]["step-forward-title"]%></p>
      </div>
    </a>
  </div>
</div>
<script>
var figure = $(".steplinksvideo").hover( hoverVideo, hideVideo );
function hoverVideo(e) {
    $('video', this).get(0).play();
}
function hideVideo(e) {
    $('video', this).get(0).pause();
}
</script>
<div class="footer-wrapper">
