
<% for (person in team) { %>
    <div class="mix col-xs-12 col-sm-6 col-lg-4 col-xs-3 <%=person["role"] %>">
      <div class="team-image-box">
        <p class="bio"><%=person["bio"] %> </p>
        <img alt="<%=fullname%>" src="/assets/images/team/edited/<%=person["firstname"]%>">
      </div>
      <div class="team-info">
        <p class="role"><%=person["role"] %></p>
        <p class="team-name"><%=person["fullname"]%> </p>
        <p class="portfolio"><a href="<%=person["portfolio"]%>">Portfolio</a></p>
        <!-- <p class="twitter-handle"><a href="<%#=person["social-media"]%>">Social Media</a></p> -->
      </div>
    </div>
    <% } %>
