<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= espanol ? "Sobre Nosotros":"About The Project | Aftermath: Puerto Ricans Rebuild After Maria"%></title>
  <meta property="og:title" content="<%= espanol ? "Sobre Nosotros":"About The Project | Aftermath: Puerto Ricans Rebuild After Maria"%>" />

  <% include ../partials/header.ejs %>
</head>

<body id="about-body">
    <% include ../partials/nav-inner.ejs %>

    <div class="about-background">
    	<div id="abouttitle-box" class="center-wrapper col-md-12">
    			<div class="title-line">
    				<h1>ABOUT THE</h1>
    				<span class="title-line-two">PROJECT</span>
    			</div>
      </div>
    </div>

<section id="about-intro-text" class="container offset-md-3 col-md-8">
  <div class="row justify-content-center">

  <div class="about">

	<% if (espanol) { %>

  	<% } else { %>
      <p>We are a group of student videographers and photographers, web designers and developers, reporters and faculty brought together by a common goal: to share the voices of Puerto Ricans living in the aftermath of Hurricane Maria.  We hope the stories of how they are coping and rebuilding can serve as lessons for future natural disasters. </p>

      <p>We also wish to inform our audience about Puerto Rico's recovery and encourage more people to get involved and join the conversation.  </p>

      <p>We are a part of an annual project by UNC-Chapel Hill’s School of Media and Journalism. In past projects, students have reported across five continents and produced award-winning multimedia work. As students, we’re learning the rewards and challenges of reporting on different cultures; as journalists, we are working as a team to tell the stories that are shaping the globe.</p>

    <% } %>
	</div>


</div><!-- end row-->

</section> <!--end container -->


<div class="container about-section">
  <div class="row" id="team-photos">
    <div id="teamNav" class="team-nav col-md-2">
      <h3>The Team</h3>
      <ul>
        <li data-filter="all" class="active everyone about-nav"><%= espanol ? "Todos":"EVERYONE"%> <div class="holder arrow"></div></li>
        <li data-filter=".vid" class="videographer about-nav"><%= espanol ? "Videógrafa/o":"PHOTO/VIDEO"%><div class="holder arrow"></div></li>
        <li data-filter=".rep" class="reporter about-nav"><%= espanol ? "Periodista":"REPORTER"%><div class="holder arrow"></div></li>
        <li data-filter=".dev" class="designdev about-nav"><%= espanol ? "Desarrollador/a":"DESIGN/DEV"%><div class="holder arrow"></div></li>
        <li data-filter=".coach" class="coaches about-nav"><%= espanol ? "Instructor":"COACH"%><div class="holder arrow"></div></li>

      </ul>
    </div>

    <div class="col-md-10">
      <div class="row person">
        <% for (i in team) {  %>

        <div class="mix col-6 col-sm-3 <%=team[i]["roleid"] %>">
            <div class="team-info">
              <div class="video-mask">
                <div class="about-video">
                 <video width="100%" height="auto" autoplay>
                   <source class="the-video-we-want" src="/assets/images/team/edited/<%=team[i]["firstname"]%>.mp4" type="video/mp4">
                 </video>
               </div>
              </div>
              <% if ((team[i]["portfolio"])) { %>
                <a href="<%=team[i]["portfolio"]%>" target="_blank" class="portfolio about-social-icon"><p class="team-name"><%=team[i]["fullname"]%> </p></a>
              <% } else { %>
                <p class="team-name"><%=team[i]["fullname"]%> </p>
              <% } %>
              <p class="role"><%=espanol ? team[i]["rolespanish"]:team[i]["role"] %></p>
              <div class="socialmedia-about">
              <% if (team[i]["social"]){ %>
                <a class="about-social-icon <%= team[i]["socialid"]%>" href="<%= team[i]["social"]%>" target="_blank">
                  <i class="fab fa-<%= team[i]["socialid"] %> fa-lg" aria-hidden="true"></i>
                </a>
              <% } if (team[i]["social2"]){ %>
                <a class="about-social-icon <%= team[i]["socialid2"]%>" href="<%= team[i]["social2"]%>" target="_blank">
                  <i class="fab fa-<%= team[i]["socialid2"] %> fa-lg" aria-hidden="true"></i>
                </a>
              <% } if (team[i]["social3"]){ %>
                <a class="about-social-icon <%= team[i]["socialid3"]%>" href="<%= team[i]["social3"]%>" target="_blank">
                  <i class="fab fa-<%= team[i]["socialid3"] %> fa-lg" aria-hidden="true"></i>
                </a>
              <% } else { }%>
              </div>
              </div>
          </div>

            <% } %>

        </div>
    </div>
  </div>
</div> <!--end container -->

<div class="container about-section special-thanks">
  <div class="row">
    <div class="col-md-2">
      <h4>Special Thanks</h4>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5">
          <p><strong>Hermes Ayala and Carla Margarita</strong><br>On-the-ground Support in Puerto Rico</p>
          <p><strong>The University of Puerto Rico</strong></p>
          <p><strong>Nomada Urban Beach Hostel</strong></p>

        </div>
        <div class="col-md-5">
          <p><strong>Susan King </strong><br>Dean of the UNC School of Media and Journalism</p>
          <p><strong>Michael Penny</strong> <br>Director of Global, Immersive and Professional Programs for the UNC School of Media and Journalism</p>
          <p><strong>Andy Bechtel</strong><br>MJ-school Associate Professor of Advanced Editing, MEJO 557</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <% include ../partials/footer.ejs %>
  <script src="/js/mixitup.min.js"></script>
  <script type="text/javascript" src="/js/about.js"></script>

  <script>var mixer = mixitup('#team-photos');</script>
  <script>
  var figure = $(".about-video").hover( hoverVideo, hideVideo );
  function hoverVideo(e) {
      $('video', this).get(0).play();
  }
  function hideVideo(e) {
      $('video', this).get(0).pause();
      $('video', this).get(0).currentTime = 0;
      // Current time function idea from https://stackoverflow.com/questions/10457750/reset-a-video-on-mouse-out-using-html5-and-javascript
  }
  </script>
</body>
</html>
