<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <% include ../partials/header.ejs %>

  <!-- <script>
  var currentPage = "<%= page %>";
  var currentNav = '.' + currentPage.substring(7) + '.nav-indiv';
  var mobileNav = ".overlay-content ." + currentPage.substring(7);

  //get just page name
  // var where = currentPage.lastIndexOf('/');
  // var cleanPage = currentPage.substring(where+1);
  </script> -->
  <meta property="og:image" content="http://cubasnewwave.unc.edu/assets/images/features/<%= body["master-class"]["class"] %>.jpg" />

    <title><%= body["header"]["seo"] %></title>
    <meta property="og:title" content="<%= body["header"]["seo"] %>" />


</head>

<body>

	<% include ../partials/nav.ejs %>
	<% include ../partials/article.ejs %>
	<% include ../partials/footer.ejs %>
</body>
</html>
